<!DOCTYPE html>


<head>
    <title>Google Homepage</title>
	<link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
  
     
<body>
  <div class = "icons">
  Gmail Grafika  
  <first class="fa fa-th fa-lg"></i>
  </div>

  <center> 
  <div class = "container">
    <!-- GOOGLE IMG --> 

    <div class="google">
      <a href="#" id="google_logo"><img src="./google_PNG19644.png" height="120" width="300"/></a>
    </div>
    <!-- FORM SEARCH -->  
    <div class="form">
        <div class="main">
        <div id="input_container">
        <search class="fa fa-search fa-lg"></search>
        <micro class="fa fa-microphone fa-lg"></micro>
        <key class="fa fa-keyboard-o fa-lg"></key>
        <label for="form-search"></label>
        <input id="myInput" type="text" class="form-search" placeholder="Search Google"  v-model="inputContent" >
        <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
        </div>
        </div>
    </div>
 
    <!-- BUTTONS -->
  <div class= "buttons"> 
      <button class="mdc-fab mdc-fab--extended">
      <span class="mdc-fab__label">Google Search</span>
      </button>
      <button class="mdc-fab mdc-fab--extended">
      <span class="mdc-fab__label">I'm Feeling Lucky</span>
      </button>
    </div>  
</center>
</div> 
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="animals.js"></script>
<script src="main.js"></script>

  </body>
</html>
