@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';

html {
  overflow-x: hidden;
}

.icons{
  text-align: right;
  font-family: 'Open Sans';
  word-spacing: 10px;
}

a {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans';
}

.container{
	display: grid;
  margin: 150px 0px 50px;
}

#google-logo{
  height:50px;
  width:120px;
  float:left;
  margin-right: 10px; 
}

.form-search[type='text']{
  border-radius: 30px; 
  border: 1px rgb(223, 225, 229) solid;
  width: 510px;
  height: 40px;
  padding-left: 40px;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.form-search[type='text']{
  display:inline-block;
}

.form search{
  position: absolute;
  color: #99ccff;
  padding: 12px;
}

.form micro{
  position: absolute;
  padding: 12px 520px;
}

.form key{
  position: absolute;
  padding: 12px 490px;
}


.buttons{
  margin-top: 20px;
  
}

.mdc-button{
  border-style: groove;
  text-transform: initial;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info {
  height: 41px;
  width: 100%;
  color: rgb(108, 110, 110);
  background-color: rgb(242, 242, 242);
  text-decoration: none;
  font-size: 13px;
  border-top: 1px rgb(228, 228, 228) solid;
  margin: 0;
}

.polska{
  text-align: left;
  margin-left: 15px;
}

.footer-link-left{
  float: left;
  padding: 15px;
}

.footer-link-right {
  float: right;
  padding: 15px;
}
  
.menu ul{
  margin: 0; padding: 0;
  float: left;
}
  
.menu ul li{
  display: inline;
}
  
.menu ul li a{
  float: left; text-decoration: none;
  color: black;
  padding: 10.5px 11px;
}
  
.menu ul li a:visited{
  color: black;
}
  
.menu ul li a:hover, .menu ul li a:focus{
  color: #3333cc;
  border-bottom: solid #3333cc;
}


.paragraph {
  color: rgb(119, 119, 119);
  margin: 0px;
}

.results-wrapper{
  margin:  0 800px 0 130px;
}

.header{
  color: #3333cc;
  margin: 20px 0 0 0;
}