.icons{
  text-align: right;
  font-family: 'Open Sans';
  word-spacing: 10px;
}

.container{
	display: grid;
  margin: 150px 50px 50px 100px;
}

#google-logo{
  height:50px;
  width:120px;
  float:left;
  margin-right: 10px; 
}

.buttons{
  margin-top: 10px;
}

.form-search[type='text']{
  border-radius: 15px; 
  width:500px;
  height: 40px;
  padding-left: 40px;
}

.form-search[type='text']{
  display:inline-block;
}

.form search{
  position: absolute;
  color: #99ccff;
  padding: 12px;
}

.form micro{
  position: absolute;
  padding: 12px 520px;
}

.form key{
  position: absolute;
  padding: 12px 490px;
}

.mdc-fab--extended:hover {
  font-weight: bold;
    border: 1px solid #999;
    color: black;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 0 800px 0 0px;
  color: rgb(119, 119, 119);
  font-weight: bold;
}

.links:hover{
  pointer-events:none;
}

.wszystko {
  border-bottom: 3px solid blue;
}

.Link {
  color: green;
  text-decoration: underline;
  margin: 0;
}

.paragraph {
  color: rgb(119, 119, 119);
  margin: 0px;
}

.Results-wrapper{
  margin:  0 800px 0 130px;
}

.header{
  color: #3333cc;
  margin: 20px 0 0 0;
}