<!DOCTYPE html>

<head>
    <title>Google Search</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="wyniki-style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>    
</head>



<body>
    <header>
    <div class = "icons">
        Gmail Grafika  
    <first class="fa fa-th fa-lg"></i>
    </div>  
    <img id="google-logo" alt="Google" src="./google_PNG19644.png"/>
    <div class="form">
    <div class="main">
    
    <div id="input_container">
        <search class="fa fa-search fa-lg"></search>
        
        <micro class="fa fa-microphone fa-lg"></micro>
        <key class="fa fa-keyboard-o fa-lg"></key>
        <label for="form-search"></label>
        <input id="myInput" type="text" class="form-search" placeholder="Search Google"  v-model="inputContent" >
        <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>  
    </div>
    </div>
    </div>
    </header>

    <section id>
    <div id="app">
        <nav class="menu">

            <ul>
            <li><router-link to="/wszystko">Wszystko</router-link></li>
            <li><router-link to="/wiadomosci">Wiadomości</router-link></li>
            <li><router-link to="/grafika">Grafika</router-link></li>
            <li><router-link to="/zakupy">Zakupy</router-link></li>
            <li><router-link to="/filmy">Filmy</router-link></li>
            <li><router-link to="/wiecej">Więcej</router-link></li>
            <li><router-link to="/ustawienia">Ustawienia</router-link></li>
            <li><router-link to="/narzedzia">Narzędzia</router-link></li>
            </ul>

            <br style="clear:left"/>
        </nav>

            <router-view></router-view>
        
    </div>
    <script type="text/javascript" src="router.js"></script>
    </section>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="animals.js"></script>
    <script src="main.js"></script>
</body>
</html>