<!DOCTYPE html>

<head>
    <title>Google Search</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>



<body>
    <header>
    <div class = "icons">
        Gmail Grafika  
    <first class="fa fa-th fa-lg"></i>
    </div>  
    <img id="google-logo" alt="Google" src="./google_PNG19644.png"/>
    <div class="form">
    <div class="main">
    
    <div id="input_container">
        <search class="fa fa-search fa-lg"></search>
        
        <micro class="fa fa-microphone fa-lg"></micro>
        <key class="fa fa-keyboard-o fa-lg"></key>
        <label for="form-search"></label>
        <input id="myInput" type="text" class="form-search" placeholder="Search Google"  v-model="inputContent" >
        <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>  
    </div>
    </div>
    </div>
    </header>
    
    <nav class="links">
                <div id="wszystko" style="color:#1A73E8;">Wszystko </div>
                <div>Wiadomości </div>
                <div>Grafika </div>
                <div>Zakupy </div>
                <div>Filmy </div>
                <div>Więcej </div>
                <div>Ustawienia </div>
                <div>Narzędzia </div>
    </nav>

    <main class="Results">
            <div class="Results-wrapper">
                    <h2 class="header">Lorem Ipsum</h2>
                        <a class="Link" >
                        <p class="Link">https://lorem.com</p>
                        </a>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non felis dictum
                            tellus sagittis sollicitudin quis eu erat. Duis metus ante, tincidunt a justo et, auctor laoreet augue.
                        </p>
                </div>

                <div class="Results-wrapper">
                        <h2 class="header">Lorem Ipsum</h2>
                            <a class="Link" >
                            <p class="Link">https://lorem.com</p>
                            </a>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non felis dictum
                                tellus sagittis sollicitudin quis eu erat. Duis metus ante, tincidunt a justo et, auctor laoreet augue.
                            </p>
                    </div>

                <div class="Results-wrapper">
                    <h2 class="header">Lorem Ipsum</h2>
                        <a class="Link" >
                        <p class="Link">https://lorem.com</p>
                        </a>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non felis dictum
                            tellus sagittis sollicitudin quis eu erat. Duis metus ante, tincidunt a justo et, auctor laoreet augue.
                        </p>
                </div>

        </main>
                  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="animals.js"></script>
    <script src="main.js"></script>
</body>
</html>